:root{
    --red: #e50914;
    --white: #fff;
    --headings: #e5e5e5;
    --background-black: #141414;
    --black: #000;
    
    --box-shadow-btn: 0 1px 0 rgb(0 0 0 / 45%);
    --box-shadow-red: 0 2px 0 rgba(255, 0, 0, 0.5);
}

*{
    box-sizing: border-box;
}

body{
    display: grid;
    background-color: var(--black);
    justify-content: center;
}

.container .navbar{
    display: flex;
}

.container .navbar .left {
    height: 100%;
    display: flex;
    float: left;
}

.container .navbar .left img{
    width: 180px;
    margin: 20px;
}

.container .navbar .right{
    display: flex;
    margin: 50px;
    float: right;
    position: absolute;
    right: 30px;
}

.navbar .right button{
    background-color: var(--red);
    font-size: 1rem;
    padding: 7px 17px;
    color: #fff;
    border-radius: 4px;
    border-color: var(--red);
    box-shadow: var(--box-shadow-btn);
    font-weight: 900;
}

h1{
    font-size: 4.125rem;
    display: block;
    font-weight: bold;
}

h3{
    font-size: 1.625rem;
    font-weight: 300;
    align-content: center;
    padding-bottom: 1rem;
}

h4{
    font-size: 1.525rem;
    font-weight: 300;
    align-content: center;
}

.email{
    display: flex;
    align-items: center;
}

.email input{
    padding: 1rem;
    width: 40rem;
    height: 60px;
    font-size: larger;

}

.email-btn{
    font-display: var(--white);
    background-color: var(--red);
    font-size: 1.5rem;
    width: 10rem;
    min-height: 60px;
    font-weight: 400;
    text-align: center;
    border-radius: 1px;
    border-color: var(--red);
    box-shadow: var(--box-shadow-red);
    cursor: pointer;
    overflow: visible;
}

.card-one-image-container{
    background-image: url("/images/1page\ 1card\ 1.png");
}

.our-story-card-one{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    color: var(--white);
    width: 100%;
    font-family: sans-serif;
    height: 700px;
    text-align: center;
}

.our-story-card-two{
    display: flex;
    padding: 3rem;
    font-family: sans-serif;
    margin: 0%;
    color: var(--white);
    background-color: var(--black);
    width: 100%;
    height: 697px;
}

.our-story-card-three{
    display: flex;
    padding: 3rem;
    font-family: sans-serif;
    margin: 0%;
    color: var(--white);
    background-color: var(--black);
    width: 100%;
    height: 697px;
}

.our-story-card-four{
    display: flex;
    padding: 3rem;
    font-family: sans-serif;
    margin: 0%;
    color: #fff;
    background-color: var(--black);
    width: 100%;
    height: 300px;
}

.our-story-card-five{
    display: flex;
    padding: 3rem;
    font-family: sans-serif;
    margin: 0%;
    color: #fff;
    background-color: var(--black);
    width: 100%;
    height: 697px;
}

.our-story-card-six{
    display: flex;
    padding: 3rem;
    font-family: sans-serif;
    margin: 0%;
    color: #fff;
    background-color: var(--black);
    width: 100%;
    height: 697px;
}

.information-bar{
    font-size: x-small;
    font-family: sans-serif;
    color: grey;
    background-color: var(--black);
    grid-column: 1fr 1fr 1fr;
}

