<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- CSS link-->
    <link rel="stylesheet" href="css/homepage.css">
    <!-- JavaScript tag-->
    <script src="js/homepage.js" defer></script>
    <!-- Vue.js tag-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body> 
    <!-- ID to use later with Vue and JS which contains all my HTML for the homepage.html file-->
    <div id="netflixApplication">    
        <!-- Navigation bar left and right with movie categories, icons and profile-->
        <nav id="navbar" class="navbar">
            <!-- Navbar left -->
            <div class="nav-left">
                <a href="homepage.html">
                    <img src="images/netflix-logo.png" id="netflixlogo" alt="Netflix Logo"> 
                </a>
                <ul class="primary-navigation">
                    <li class="category">
                        <a class="browse active" href="#Home">Home</a>
                    </li>
                    <li class="category">
                        <a class="browse" href="#TV shows">TV Shows</a>
                    </li>
                    <li class="category">
                        <a class="browse" href="#Movies">Movies</a>
                    </li>
                    <li class="category">
                        <a class="browse" href="#New & Popular">New & Popular</a>
                    </li>
                    <li class="category">
                        <button><a class="watchlist" href="watchlist.html">My Watchlist</a></button>
                    </li>
                    <li class="category">
                        <a class="browse" href="#Coming Soon">Coming Soon</a>
                    </li>
                </ul>
            </div>
            <!-- Navbar right -->
            <div class="nav-right">
                <div class="search">
                    <form>
                        <input id="searchBox" v-model="searchInput.searchBox" type="text" placeholder="Titles, people, genres">
                        <input type="image" value="search" id="search-btn" src="images/search-icon.png" @click="theSearch">
                    </form>
                </div>
                <ul class="list-nav-right">
                    <li class="category">
                        <a class="browse" href="#Kids">Kids</a>
                    </li>
                </ul>
                <button class="notfications-btn"><img class="notification" src="images/notification-icon.png" alt="Notifications"></button>
                <button class="my-profile"><img class="my-profile" src="images/profile-1.png" alt="My Profile"></button>
            </div>
        </nav>


        <!-- Movie trailer -->
        <div class="movie-trailer">
            <video src="video/bullet-2-trailer.mov" 
            title="Bullet Train | Brad Pitt, Bad Bunny, Aaron Taylor-Johnson, Sandra Bullock and Joey King | Official Trailer | Netflix"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            id="trailer"></video>
        </div>  
        
        <!-- Category slides -->
        <div class="row">
            <h1 id="comingSoon">Coming Soon</h1>
            <div class="displayClassMainAxis">
                <div v-for="(event, index) in moviesComingSoon" class="displayMovie"> <!-- filteredMoviesComingSoon-->
                    <a class="movie-link">
                        <div>
                            <img :src="event.image" alt="Movie Images" class="movieImage">
                            <div><button class="add-Btn" @click="addWatchList(event)">Add</button></div> <!-- addWatchList = addToWatchList-->
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Category 1-->
        <div class="row">
            <h1 id="trending-now">Trending Now</h1>
            <div class="displayClassMainAxis">
                <div v-for="(event, index) in trendingMovies" class="displayMovie"> 
                    <a class="movie-link">
                        <div>
                            <img :src="event.image" alt="Movie Images" class="movieImage">
                            <div><button class="add-Btn" @click="addWatchList(event)">Add</button></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Category 2 -->
        <div class="row">
            <h1 id="documentaries">Documentaries</h1>
            <div class="displayClassMainAxis">
                <div v-for="(event, index) in documentaryMovies" class="displayMovie"> 
                    <a class="movie-link">
                        <div>
                            <img :src="event.image" alt="Movie Images" class="movieImage">
                            <div><button class="add-Btn" @click="addWatchList(event)">Add</button></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Category 3 -->
        <div class="row">
            <h1 id="comedies">Comedies</h1>
            <div class="displayClassMainAxis">
                <div v-for="(event, index) in comedyMovies" class="displayMovie"> 
                    <a class="movie-link">
                        <div>
                            <img :src="event.image" alt="Movie Images" class="movieImage">
                            <div><button class="add-Btn" @click="addWatchList(event)">Add</button></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>    

        <!-- Category 4 -->
        <div class="row">
            <h1 id="realStories">Real Stories</h1>
            <div class="displayClassMainAxis">
                <div v-for="(event, index) in realStories" class="displayMovie"> 
                    <a class="movie-link">
                        <div>
                            <img :src="event.image" alt="Movie Images" class="movieImage">
                            <div><button class="add-Btn" @click="addWatchList(event)">Add</button></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>   

        <div class="row">
            <h1 id="foodWine">Food & Wine</h1>
            <div class="displayClassMainAxis">
                <div v-for="(event, index) in foodWineMovies" class="displayMovie"> 
                    <a class="movie-link">
                        <div>
                            <img :src="event.image" alt="Movie Images" class="movieImage">
                            <div><button class="add-Btn" @click="addWatchList(event)">Add</button></div>
                        </div>
                    </a>
                </div>
            </div>
        </div> 
    </div>           
</body>
<footer>

</footer>
</html>